html, body, #root {
  background-color: #079992;
  color: #ecf0f1;
  letter-spacing: 3px;
  height: 100%;
}

.btn-primary {
  background-color: #b71540;
}

.btn-primary:hover {
  background-color: #eb2f06;
}

.btn-primary:active {
  background-color: #e55039 !important;
}

.table {
  color: #ecf0f1;
  font-size: .9rem;
  background-color: #3c6382;
  max-width: 25rem;
}

.player-list {
  width: 15ch;
}

.player-count-screen {
  
}

.player-count-screen__input {
  width: 7ch;
}