body {
  background-color: #487eb0;
  color: #ecf0f1;
  font-size: 62.5%;
  letter-spacing: 3px;
}

.btn-primary {
  background-color: #c0392b;
}

.btn-primary:hover {
  background-color: #e74c3c
}

.table {
  color: #ecf0f1;
  background-color: #2980b9;
}

.player-list {
  max-width: 10rem;
}