body {
  background-color: #487eb0;
  color: #ecf0f1;
  letter-spacing: 3px;
}

.btn-primary {
  background-color: #c0392b;
}

.btn-primary:hover {
  background-color: #e74c3c
}

.table {
  color: #ecf0f1;
  background-color: #34495e;
  max-width: 25rem;
}

.player-list {
  width: 15ch;
}
